.ui-panel {
    width: 18%;
    background-color: rgba(0, 0, 0, 0.16);
    color: rgb(219, 219, 219);
    padding-left: 4px;
    font-size: 16px;
}

.mainmenu-button {
    height: 100%;
    flex-grow: 1;
    max-height: none;
    width: auto;
    font-size: 64px;
    color: rgba(45, 255, 103, 255);
    background-color: rgba(17, 43, 26, 0.75);
}
